<html>
	<head>
		<title>Kyudong's blog</title>
	</head>
	<body>
		<div>
			<h1><a href="">Kyudong blog</a></h1>
		</div>

		<div>
			<p>published: 2017.05.23 </p>
			<h2><a href=""> Unwritted Database</a></h2>
			<p>My name is Kyudong. I'm learning python and Django programming. This blog will be the first step in learning Django. Cheer up!</p>
		</div>

		<!-- {% for post in posts %}
		<div>
			<p>published: {{post.published_date}} </p>
			<h2><a href="">{{post.title}}</a></h2>
			<p>My name is Kyudong. I'm learning python and Django programming. This blog will be the first step in learning Django. Cheer up!</p>
			<p>{{post.text|linebreaksbr}}</p>
		
		</div>
		{% endfor %} -->

		<div>
		    <p>published: 19.05.2017 </p>
		    <h2><a href="">My second post</a></h2>
		    <p>Onmaway , Angular is my cooperator</p>
	    </div>

	    {% for post in posts %}
	    
	    	{{ post }}
	    
	    {% endfor %}
     </body>
</html>